<!DOCTYPE html>
<html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'HAccelerator/mainPages.css' %}" />
<link rel='shortcut icon' href={% static 'HAccelerator/images/favicon.ico' %} type='images/favicon' />

<head>
	<title>HealthNet | Home</title>
</head>

<ul class="nav">
	<li class="nav_container"><a class="nav_items" href="{% url 'HealthNet:home' %}">Home</a></li>
    <li class="nav_container"><a class="nav_items" href="{% url 'HealthNet:information' %}">User Information</a></li>
    <li class="nav_container"><a class="nav_items" href="{% url 'HealthNet:appointments' %}">Manage Appointments</a></li>
    <li class="nav_container"><a class="nav_items" href="{% url 'HealthNet:prescriptions' %}">Prescriptions</a></li>
    <li class="nav_container"><a class="nav_items" href="{% url 'HealthNet:calendar' %}">Calendar</a></li>
    <li class="nav_container"><a class="nav_items" href="{% url 'HealthNet:messages' %}">Messages</a></li>
    <li class="nav_container"><a class="nav_item_active" href="{% url 'HealthNet:medicals' %}">Medical Stores</a></li>
    <li style="float:right" class="nav_container"><a class="nav_items" href="{% url 'HealthNet:logOut' %}">Log Out</a></li>
</ul>

<body>
    <div id="container">
        {% if error_message %}
            <div id="alert" >
                <strong>{{ error_message }}</strong>
            </div>
        {% else %}
            <div id="homecontainer">
                {% if medical_store %}
                        {% for medical in medical_store %}
                            {% if medical.zipcode == patient.p_zip %}
                                <p>{{ medical.medic_name }}</p>
                            {% endif %}
                        {% endfor %}
                {% else %}
                    <p>There is no medical store available at your location.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <script>
        var today = new Date;
        document.getElementById('date').innerHTML= "" + today;
    </script>
</body>
</html>